<p>exemplos-pipes works!</p>

<p>Titulo: {{ livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Páginas: {{ livro.numeroPaginas | number: '2.1-1' }}</p>
<p>Preco: {{ livro.preco | currency: 'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date: 'dd/MMM/y' }}</p>
<pre>Livro: {{ livro | json }}</pre>


<input type="text" [(ngModel)]="filtro">

<h5>Maneira correta de filtro</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">{{ liv }}</li>
</ul>

<p> {{ valorAsync | async }}</p>
<!-- <p> {{ valorAsync2 | async}}</p> -->