<!-- <app-diretivas-switch></app-diretivas-switch> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-ng-content>
    Special title treatment
</app-ng-content> -->

<!-- <app-ng-content>
    <div title>Titulo</div>
    <div body>Special title treatment</div>
</app-ng-content>

<app-ng-content>
    <div title>Titulo 2</div>
    <div body>Special title treatment 2</div>
</app-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>